@tailwind components;
@tailwind utilities;
@layer components {
  .gij-card {
    @apply gij-bg-layer-bg gij-rounded-lg gij-p-3 gij-shadow-card;
  }
  .gij-describe {
    @apply gij-text-xs gij-font-light gij-text-slate-500 sm:gij-text-sm;
  }
  /* ... */
  .juejin-card {
    border-radius: 2px;
    background: rgb(var(--gij-color-layer-bg));
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  }
}

:root {
  --gij-color-primary: 30 128 255;
  --gij-color-primary-hover: 17 113 238;
  --gij-color-primary-active: 0 96 221;
  --gij-color-primary-disable: 171 205 255;
  --gij-color-font: 49 68 91;
  --gij-color-main-bg: 242 243 245;
  --gij-color-layer-bg: 255 255 255;
  --gij-gray-1-1: #e4e6eb;
  --gij-gray-1-2: rgba(228, 230, 235, 0.5);
  --gij-opacity-layer-hover: 0.65;
  --gij-opacity-mask: 0.25;
  --gij-opacity-widget: 0.1;
}

:root [data-theme="dark"] {
  --gij-color-primary: 27 115 229;
  --gij-color-primary-hover: 15 102 214;
  --gij-color-primary-active: 0 86 199;
  --gij-color-primary-disable: rgb(41 134 255 / 40%);
  --gij-color-font: 255 255 255;
  --gij-color-main-bg: 0 0 0;
  --gij-color-layer-bg: 24 24 24;
  --gij-gray-1-1: rgb(255 255 255 / 20%);
  --gij-gray-1-2: rgb(255 255 255 / 10%);
  --gij-opacity-layer-hover: 0.05;
  --gij-opacity-mask: 0.65;
  --gij-opacity-widget: 0.2;
}
