@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base;
    @apply font-sans;
    @apply text-slate-700;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-lg p-3 shadow-card;
  }
  .describe {
    @apply text-xs font-light text-slate-500 sm:text-sm;
  }
  /* ... */

  .juejin-card {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  }
}
